.perspective:not([data-perspective=all]) {
    display: none;
}

.perspective-manager-widget {
/*font: bold 35px/1.5 URW Gothic L,Verdana,Arial,Helvetica,sans-serif;*/
padding-bottom: 10px;
}

.perspective-manager-widget ul {
text-indent: 0;
}
